_target_: src.model.MultiScaleDiscriminator
num_blocks: 3
kernel_sizes: [15, 41, 41, 41, 41, 41, 5]
strides: [1, 2, 2, 4, 4, 1, 1]
groups: [1, 4, 16, 16, 16, 16, 1]
channels: [1, 128, 128, 256, 512, 1024, 1024, 1024]
